*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: calc(10px + 1vmin);
  line-height: 150%;
  color: rgba(0,0,0,.8);
  margin: 0;
}

head,
script,
style {
  display: none;
}

header {
  width: 100%;
  padding: 2rem;
  color: #fff;
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,.1);

  icon- {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  icon-::before {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background: #0acbff;
  }
  icon-::after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 1.5rem solid #0acbff;
    border-right: 1.5rem solid transparent;
    margin-left: .3rem;
  }
  h1 {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.5rem;
    margin-left: auto;
    color: rgba(0,0,0,.5);
  }
}

main {
  display: flex;
}

aside {
  background: rgba(0,0,0,.038);
  padding: 2rem;
  min-height: 100vh;
  width: 320px;

  a { white-space: nowrap; }
  li { margin-left: -.62rem; }
}

article {
  padding: 2rem;
  max-width: 100ex;
  margin: 0 auto;
  min-height: 100vh;
}

.markdown-body {
  h1,h2,h3 {
    color: rgba(0,0,0,.2);
    padding-bottom: .5em !important;
    * + & { margin-top: 1.618em !important; }
  }
  pre code {
    line-height: 162% !important;
  }
}
